@import 'mocha.css';

* {
    all: initial;
    border-radius: 2rem;
    font-family: 'Iosevka Nerd Font';
    font-size: 1.45rem;
    color: @text;
    transition-duration: 0.25s;
}

/* whole bar size */
window > box.horizontal {
    padding: 0rem 0.5rem;
    min-height: 2rem;
}

/* whole bar  */
#window#waybar {
    background: transparent;
}

/* active workspace button */
#workspaces button.active label {
    background-color: @pink;
    color: @base;
}

/* // so that things are not some sticks */
box.horizontal widget label {
    min-width: 24px;
}

/* // main Boxes */
box.horizontal > box.horizontal,
tooltip {
    background: @base;
    padding: 0rem 0.25rem;
}

tooltip,
menu {
    border: 1px solid @pink;
    background: @base;
}

menu {
    padding: 0.5rem 0.25rem;
}

menuitem {
    margin: 0.25rem;
    background-color: @surface0;
}

separator {
    background-color: @surface1;
    margin: 0.1rem 0.5rem;
    padding: 0.1rem;
}

menuitem:hover,
button:hover,
label:hover {
    background-color: @surface1;
}

menuitem:disabled {
    background-color: @crust;
}

check {
    min-height: 1rem;
    min-width: 1rem;
    background: @red;
    margin-left: 0.5rem;
}

check:checked {
    background: @green;
}

/* // Basicly everything in boxes */
#workspaces button label,
box.horizontal widget > label,
#tray,
#tray label,
tooltip label {
    min-width: 1.5rem;
    padding: 0px 0.5rem;
}

/* Active custom modules */
widget > label.module.activated {
    background-color: @pink;
    color: @base;
}

widget > label.module.text-button,
#workspaces button label {
    transition-property: all;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
