@import 'mocha.css';

* {
    all: initial;
    min-width: 0;
    border-radius: 2rem;
    font-family: Iosevka Nerd Font;
    font-size: 1rem;
    color: @text;
}

#window#waybar,
#workspaces {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.5s;
}

button {
    border: 2px dashed @surface1;
    min-width: 2rem;
    min-height: 2rem;
    margin: 0px 2.5px;
}

#workspaces button.active {
    background-color: @pink;
}
#workspaces button.active label {
    color: @base;
}

#tray {
    padding: 0px 0.5rem;
}

#clock,
#custom-nightmode,
#idle_inhibitor,
#pulseaudio,
#cpu,
#backlight,
#battery,
#battery#bat2,
#clock,
#custom-notification,
box.module {
    border: 2px dashed @surface1;
    margin: 0px 0.25rem;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0em 6px;
}
