dotfiles/jellyfin-mpv-shim/.config/jellyfin-mpv-shim/cred.json
dotfiles/jellyfin-mpv-shim/.config/jellyfin-mpv-shim/input.conf
dotfiles/jellyfin-mpv-shim/.config/jellyfin-mpv-shim/mpv.conf
dotfiles/hypr/.config/hypr/scheme/current.conf
dotfiles/hypr/.config/hypr/monitors.conf
dotfiles/hypr/.config/hypr/dms
dotfiles/nvim/.config/nvim/lua/plugins/dankcolors.lua
